*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container-header{
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    height: 400px;
    margin: 0 auto;
    position: relative;

}
/* utility class */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.fl{
    float: left;
}
.button{
    border-radius: 50px;
    border: none;
    padding: 15px;
    font-size: 13px;
}

/* end utility class */

nav{
    width: 80%;
    height: 60px;
    padding: 20px;
    color: white;
    margin: 0 auto; 
}
ul{  
    text-align: center;
}
li{
    list-style: none;
    display: inline-block;
    height: 40px;
}
.nav-bar{
    width: 45%;
    padding-top: 7px; 
}
.logo, .accedi{
    width: 25%;
}
.nav-bar li{
    padding-left: 20px;
}

/* text dentro header */
.text-header{
    width: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}
.titolo{
    height: 40px;
    font-size: 30px;
}
.sotto-titolo{
    font-size: 15px;
    padding: 10px;
    line-height: 20px;
    margin-bottom: 15px;
}
.b2{
    background-color: black;
    color: white;
    margin-left: 10px;

}

.container-main-1{
    width: 80%;
    margin: 0 auto;
}
.img-1{
    width: 50%;
}
.text-img-1{
    width: 35%;
    padding-left: 230px;
    padding-top: 50px;
    line-height: 20px;

}
.text-img-1 p{
    margin-top: 20px;
}